"*":
  "autocomplete-plus":
    confirmCompletion: "tab"
  core:
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    warnOnLargeFileLimit: 10
  editor:
    fontFamily: "Source Code Pro"
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "5c93014e-3ddd-41d7-8fd4-99b536f4185b"
  "spell-check":
    addKnownWords: true
    locales: [
      "en-us"
    ]
  welcome:
    showOnStartup: false
